/* background: #aa1f00; box: #fdf4e5; */
html body, html #firstHeading {
    font-family: sans-serif,NospzGothicMoe,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
html, body {
	height: 100%;
	margin: 0;
    padding: 0;
}
html {
	font-size: 60px;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	background-color: #fdf4e5;
    font-size: .24rem;
}
img {
	flex-shrink:0;
}

::-webkit-scrollbar {
	width: 5px;
	height: 6px;
	border-radius: 8px;
	position: relative;
}
::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
	background-color: rgba(255,255,255,1);
}
::-webkit-scrollbar-thumb {
	width: 1px;
	background: #aa1f00;
	/* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
}

.main {
	width: 100%;
	background-color: #aa1f00;
}
.top-title {
	width: 100%;
	position:relative;
	background-image: linear-gradient(#aa1f00 20%, #fdf4e5 30%);
}
.top-title-img {
	width: 100%;
}
.top-title .title {
	position:absolute;
	z-index: 10;
	top: 80%;
	right: 15%;
	width: 8rem;
}
@media only screen and (max-width: 1200px) {
	.top-title .title {
		width: 300px;
		right: 5%;
	}
}

.paragraphs {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	overflow-y: hidden;
}
.side-1 {
	background-color: #fdf4e5;
}
.side-2 {
	background-image: linear-gradient(#fdf4e5 1%, #aa1f00 30%);
}
.page {
	color: #aa1f00;
}
.page .title {
	text-align: center;
	margin: 20px;
	padding-top: 1rem;
}
.page-1 p {
	text-align: center;
}
.page-2 {
	display: flex;
    justify-content: center;
	flex-shrink: 0;
}
.page-2 img {
	height: 100%;
}
.page-3 {
	display: flex;
    justify-content: center;
	flex-shrink: 0;
	color: #fdf4e5;
}
.page-4 {
	text-align: center;
	color: #fdf4e5;
	padding: 10px;
}
.page-5 {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	color: #fdf4e5;
}