/* background: #aa1f00; box: #fdf4e5; */
html body, html #firstHeading {
    font-family: sans-serif,NospzGothicMoe,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	display: block;
	box-sizing: border-box;
}
html {
	font-size: 60px;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	background-color: #fff;
    font-size: .24rem;
}
a:link {
	transition: all .2s ease-in-out 0s;
	color: #0077ff;
	text-decoration:none;
}
a:visited {
	color: #0077ff;
	text-decoration:none;
}
a:hover {
	transition: all .2s ease-in-out 0s;
	color: #ff69b4;
	text-decoration:none;
}
a:active {
	color: #0077ff;
	text-decoration:none;
}
img {
	flex-shrink:0;
}
.button {
	width: auto;
	min-width: 50px;
	padding: .1rem .25rem .1rem .25rem;
	font-size: .2rem;
	background-image: linear-gradient(to right, #ff69b4 0, #ffb6c1 100%);
	text-align: center;
	color: #fff;
	border-radius: 30px;
	box-shadow: 0 0 8px 2px rgba(255,230,250,0);
	transition: all .2s ease-in-out 0s;
	cursor: pointer;
}
.buttonBox {
	display: flex;
	justify-content: center;
}
.button:hover {
	box-shadow: 0 0 10px 1px rgba(255,105,180,0.75);
}
#progress .button {
	width: auto;
	min-width: 50px;
	padding: .1rem .25rem .1rem .25rem;
	font-size: .2rem;
	background-image: linear-gradient(to right, #0077ff 0, #7cb9ff 100%);
	text-align: center;
	color: #fff;
	border-radius: 30px;
	box-shadow: 0 0 8px 2px rgba(255,230,250,0);
	transition: all .2s ease-in-out 0s;
}
#progress .button:hover {
	box-shadow: 0 0 10px 1px rgba(63, 146, 255, 0.75);
}

::-webkit-scrollbar {
	width: 5px;
	height: 6px;
	border-radius: 8px;
	position: relative;
}
::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
	background-color: rgb(255,255,255);
}
::-webkit-scrollbar-thumb {
	width: 1px;
	background: #ff69b4;
	border-radius: 5px;
	/* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
}

.main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.main .layout {
	width: 1100px;
	padding: 10px;
}

footer {
	background: #f4f4f6;
	color: #A9A9A9;
	font-size: 14px;
	text-align: left;
	display: flex;
	justify-content: center;
	padding: 1em;
    font-size: .1rem;
	bottom: 0;
}
.footer .iconfont {
	font-size: 25px;
	margin: 0 10px 10px 0;
	cursor: pointer; 
}
.footer-LOGO {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94px;
    min-width: 300px;
    box-sizing: border-box;
}
.footer-LOGO img, .img_link {
	width: 200px;
}
.footer-copyright p {
	text-align: left;
}
.footer a {
	color: #16162e;
}
.footer a:hover {
	color: #FF69B4;
}
.footer-links {
	color: #e7e7e7;
	cursor: pointer; 
}
.footer .content {
    margin: 20px;
}

.footer-copyright {
	color: #A9A9A9;
}


@media only screen and (max-width: 900px) {
	footer {
		display: block;
		text-align: center;
	}
	.footer-copyright p {
		text-align: center;
	}
	.footer .iconfont {
		font-size: 28px;
		margin: 20px 15px 20px 15px;
	}
}